<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>   
    TEST2 : Bhupinder/N01435365
  </header>
  <body>
    {{{body}}}
  </body>
  <footer>  
    Email: Bhupinder@gmail.com
  </footer>
</html>