<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>   {{! Step 5 : adding header}}
    Bhupinder/N01435365
  </header>
  <body>
    {{{body}}}  
  </body>
  <footer>  {{! Step 5 : adding footer}}
    Email: Bhupinder@gmail.com
  </footer>
</html>